# III. Joining and Concatenating

There may be cases when you have data stored in separate datasets and you want to combine these datasets in a way that will allow you to work with all of the data (not just each dataset separately). It's often the case that the separate datasets have a column variable in common which we refer to as the key. The key is a variable you can use to combine the separate datasets into a single dataset, i.e. it is the variable you will join on. In oher cases you may not need to merge on a key but rather just concatenate columns vertically or horizontally.

### Joins:

There are four commonly used joins we'll be going over with dataframes: **inner**, **left**, **right**, and **outer**.


* Inner join: The resultant dataframe will combine rows from both dataframes ONLY for values of the key that exist in both tables. <br/>
<br/>
* Left join: The resultant dataframe will keep ONLY the rows from the first dataframe whether or not the value of the key exists in the second dataframe. If the key value exists in the second table but not the first then it will not be kept in the resultant dataframe. <br/>
<br/>
* Right join: The resultant dataframe will keep ONLY the rows from the second dataframe whether or not the value of the key exists in the first dataframe. If the key value exists in the first table but not the second then it will not be kept in the resultant dataframe. <br/>
<br/>
* Outer join: The resultant datframe will keep all rows from both the first and second dataframes. <br/>
<br/>
* Anti join: The resultant datframe will keep those rows for key values that exist in the first table but __NOT__ the second table. The only columns in the resultant dataframe will be those form the first table.


Other joins, that we won't discuss, include semi and cross joins.

Now let's create some dataframes so we can see how these joins work in practice.

In [ ]:
using DataFrames, Dates

In [ ]:
#create dataframes

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] )

In [ ]:
df2 = DataFrame(D = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                E = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0], 
                F = randn(11),
                ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44])

Notice that the key variable is _ID_. So we'll be using the _ID_ variable to do our joins.

To do joins you'll use the __join__ function. The basic syntax is

`join(table1, table2, on = [key], kind = [jointype])`

where __table1__ is the first table, __table2__ the second table, __[key]__ is the key variable, __[jointype]__ is the type of join.

#### Inner join.

Looking at the _ID_ variable you can see that the dataframes have eight _ID_ values in common: 1234, 3412, 578, 998 124, 8881, 901, and 12. Therefore, we'd expect the resultant dataframe of an inner join to have eight rows and seven columns: _ID_ , _A, B, C, D, E,_ and _F_.

In [ ]:
inner_join = join(df1, df2, on = :ID, kind = :inner)

If you wanted to rearrange the columns so that the ID column variable is first you can use  __permutecols!__.

In [ ]:
permutecols!(inner_join, [4, 1, 2, 3, 5, 6, 7])

#### Left join.

You can see that the first dataframe **df1** has ten _ID_ values. Therefore, we'd expect the resultant dataframe to have 10 rows and seven columns: _ID , A, B, C, D, E,_ and  _F_.

Notice that of the ten _ID_ values in the first table, the two _ID_ values 89 and 665 **do not exist** in the ID column for the second table **df2**. What do you expect to see for the _D, E,_ and _F_ variables for these two values of the key variable that exist in the left table but not the right?

In [ ]:
left_join = join(df1, df2, on = :ID, kind = :left)

#### Right join.

You can see that the second dataframe has 11 _ID_ values. Therefore, we'd expect the resultant dataframe to have 11 rows and seven columns: _ID , A, B, C, D, E,_ and _F_.

Notice that of the 11 _ID_ values in the second table, the three _ID_ values 22, 18, and 44 __do not exist__ in the ID column for the left table. What do you expect to see for the _A, B,_ and _C_ variables for these two values of the key variable that exist in the right table but not the left?

In [ ]:
right_join = join(df1, df2, on = :ID, kind = :right)

#### Outer join.

With this type of join we know that all rows of data between the two tables will be kept. How many rows do you expect the resultant dataframe to have?

The two tables have eight key values in common, **df1** has two key values that **df2** does not have, and **df2** has three key values that **df1** does not have. As a result, the resultant dataframe will have 13 (8+2+3) total rows and seven columns.

In [ ]:
outer_join = join(df1, df2, on = :ID, kind = :outer)

#### Anti join.

With this type of join you will keep rows and columns of data from the first table for those key values that exist ONLY in the first table. So if a key value exists in the first table __AND__ the second table that data will not be in the resultant dataframe.

If we do an anti join where **df1** is the first table and **df2** is the second table how many rows of data will be in the resultant dataframe? We know **df1** only has two key values (89 and 665) that are not in **df2** so in this case the resultant dataframe will have two rows of data.

In [ ]:
anti_join_1 = join(df1, df2, on = :ID, kind = :anti)

We can do an anti join where we use **df2** as the first table and **df1** as the second table. Again, we know **df2** only has three key values not in **df1** so the resultant dataframe will have three rows of data.

In [ ]:
anti_join_2 = join(df2, df1, on = :ID, kind = :anti)

The key variables don't have to have the same name in each dataframe. Let's change the name of the _ID_ variable in **df1** to be _ID1_ and in **df2** to be _ID2_:

In [ ]:
rename!(df1, :ID => :ID1)
#df2temp = rename!(df2, :ID => :ID2)

Now, to do an inner join the `on` keyword argument is expressed as a pair where the first element of the pair is the name of the key in the first dataframe and the second element in the pair is the name of the key in the second dataframe.

In [ ]:
join(df1, df2, on = :ID1 => :ID2, kind = :inner)

#### More on doing joins.

In [ ]:
# create dataframes

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] );

df2 = DataFrame(D = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                E = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0], 
                F = randn(11),
                ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44]);

I. The **indicator** argument: <br/>
<br/>
You can pass an **indicator** keyword argument to the **join** function so that the resultant dataframe contains a column variable indicating from which table an observation came from: first, second, or both. Let's use this argument in an outer join.

In [ ]:
outer_join = join(df1, df2, on = :ID, kind = :outer, indicator = :source)

II. The __makeunique__ argument: <br/>
<br/>
This argument is useful in cases where each dataset has a column variable with the **same** name. 

Let's modify **df1** so that it has a column variable with the same name a column in **df2**.

In [ ]:
# Modify df1 to have a "D" column variable

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                 B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                 C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                 D = rand(100:900, 10),
                 ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] )

What happens when you do a join on **df1** and **df2** now that they share a column variable with the same name?

In [ ]:
inner_join = join(df1, df2, on = :ID, kind = :inner)

The error message indicates what to do. You can pass a boolean value of true for the __makeunique__ keyword argument.

In [ ]:
inner_join = join(df1, df2, on = :ID, makeunique = true, kind = :inner)

The resultant dataframe keeps both columns of the D variable but the D column for the second table (in this case **df2**) was renamed to <i>D_1</i>.

That is, a suffix of \_1 was automatically added to the name of the D column variable in the second table. If there had already been a variable named <i>D_1</i> then the suffix \_2 would've been used instead. The <i>D</i> column for the first table keeps the same name of <i>D</i>.

III. The __validate__ argument:

In our above example tables the key values were unique in each table. That is, in each table the _ID_ variable did not contain duplicate values. However, this is not a requirement for the key variable.

In **df2** let's add another row of data for _ID_ 1234 and in **df1** let's drop the _D_ column variable and add two more rows of data for ID 1234.

In [ ]:
push!(df2, (3, 21.2, randn(1)[1], 1234));

In [ ]:
select!(df1, Not([:D]))
push!(df1, (1, 700, Date(2011,7,7), 1234));
push!(df1, (1, 500, Date(2011,1,17), 1234));

These changes result in **df2** having two rows of data with ID 1234 and **df1** with three rows of data with ID 1234.

Let's now do a left join. In this the join operation will match all combinations of ID 1234. How many rows will the resultant dataframe have with a value of 1234 for the ID variable? 

Keep in mind the right table has two row entries for ID 1234 and the left table has three row entries for ID 1234, so in this case the result dataframe will have 6 (2x3) entries for ID 1234.

In [ ]:
left_join_2 = join(df1, df2, on = :ID, kind = :left)

In [ ]:
filter(row -> row[:ID] == 1234, left_join_2)

You can enforce that the join fail if the keys are not unique in one or both tables using the __validate__ keyword argument. You pass this argument two boolean values indicating whether the tables need to have unique key values. The first boolean argument if set to true indicates the first table can not have duplicate key values; similarly, the second boolean if set to true indicates the second table can not have duplicate values.

In [ ]:
left_join_3 = join(df1, df2, on = :ID, validate = (true, true), kind = :left)

Let's delete the last row, i.e. row 12, from **df2** with ID 1234. This will leave it with just one entry for ID 1234.

In [ ]:
#deleterows!(right, findall(map(x -> x[:ID] == 1234 && x[:D] == 3, [row for row in eachrow(right)])));
deleterows!(df2, 12)

Now if we set `validate = (false, true)` the join will work since we are not requiring the left table to have unique key values, due to passed value of false, which it does not; but we are requiring the right table to have unique key values (which it now does), due to the passed in value of true for the validate argument.

In [ ]:
left_join_4 = join(df1, df2, on = :ID, validate = (false, true), kind = :left)

IV. Joining on two variables: <br/>

In [ ]:
# create dataframes

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] );

df2 = DataFrame(D = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                E = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0], 
                F = randn(11),
                ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44]);

You can join on more than one variable. Here we'll do an example where we join on two variables. We'll add a column named <i>A</i> to **df2** so that now both dataframes will have _ID_ and _A_ columns.

In [ ]:
df2.A = [0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1];

In [ ]:
df2

Now we can do an inner join on the two variables _ID_ and <i>A</i>. You can just specify these variables in the __on__ keyword argument. Now when joining on both _ID_ and <i>A</i> there are only three matching cases.

In [ ]:
inner_join = join(df1, df2, on = [:ID, :A], kind = :inner)

In [ ]:
#drop the A column from right
select!(right, Not([:A]));

### Concatenation:

In [ ]:
# create dataframes

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] );

df2 = DataFrame(D = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                E = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0], 
                F = randn(11),
                ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44]);

Concatenating, or combining, dataframes is relatively straightforward in Julia. The main commands are __hcat__ and __vcat__ for horizontal and vertical concatenation respectively.

The **hcat** function assumes the input dataframes have same number of rows. Horizontal concatenation combines two dataframes along the second dimension. What results is a dataframe with the same number of rows as either dataframe but with columns from both dataframes.

Let's create a new dataframe called **df2_noid** that is the same as **df2** but without the ID column. This way the **df1** and **df2** dataframes will have uniquely named columns.

We'll also delete the last row from **df2** so it has the number of rows as **df1** which is a requirement for **hcat**.

In [ ]:
# create dataframes

df1 = DataFrame(A = [0, 1, 0, 1, 1, 1, 1, 0, 1, 0], 
                B = [100, 300, 200, 400, 200, 300, 200, 800, 1000, 900], 
                C = [Date(2019, 8, 31), Date(2017, 6, 2), Date(2015, 5, 5), Date(2014, 10, 8), Date(2013, 5, 10),
                      Date(2012, 4, 2), Date(2011, 8, 2), Date(2009, 10, 11), Date(2008, 10, 2), Date(2007, 6,6)],
                ID = [1234, 89, 3412, 578, 998, 124, 665, 8881, 901, 12] );

df2 = DataFrame(D = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                E = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0], 
                F = randn(11),
                ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44]);

In [ ]:
deleterows!(df2, nrow(df2)); # delete last from df2

In [ ]:
df2_noid = df2[:, Not(:ID)];

Now we can horizontally concatenate the two dataframes.

In [ ]:
hcat(df1, df2_noid)

Note if you had left the _ID_ column in the right dataframe then you would've needed to use the `makeunique` option with **hcat** which would keep both _ID_ columns in the resulting dataframe but automatically suffix the name of one of the ID columns with a _1.

In [ ]:
hcat(df1, df2, makeunique=true)

The __vcat__ function works much the same as the __hcat__ function except it concatenates along the first dimension. Each input dataframe can have a different number of rows but should have the same number of columns with the same column names.

Let's create a **df1new** dataframe with the same column names as the **df1** datframe. Note the column names do not need to be in the same order for **vcat** to work though the names must match.

In [ ]:
df1new = DataFrame(A = [3.2, 8.9, 10.2, 11.3, 88.1, 52.3, 15.2, 66.7, 98.9, 30.2, 16.0],
                   B = [2, 3, 3, 3, 2, 3, 2, 2, 2, 2, 3], 
                   C = randn(11),
                   ID = [1234, 22, 3412, 578, 998, 124, 18, 8881, 901, 12, 44])

In [ ]:
df1

In [ ]:
vcat(df1, df1new)

The dataframes essentially get stacked with the first input dataframe stacked on top of the second.

In this lesson we covered:
* Basic join operations including inner, left, right, outer, and anti.
* Additional join arguments, joing on two variables.
* Concatenating dataframes: hcat and vcat.